{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section donation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="donation-wrap">
          <h2 class="text-md mb-4">Como hacer una donación</h2>
          <p class="mb-5 lead">
            Puedes hacer una transferencia a la siguiente cuante en la Caja Rural:
            <br/><br />
            CCC: 3177 0021 66 2065161628
            <br /><br />
            Cualquier aportación por pequeña que sea aporta.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}